<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC92fvOFhFBBUwHa-dsf7k8uS4Yt1ttpEE</string>
	<key>GCM_SENDER_ID</key>
	<string>217277512573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.guardiantap.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>guardian-tap-76134</string>
	<key>STORAGE_BUCKET</key>
	<string>guardian-tap-76134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217277512573:ios:5aa596537243032796aa14</string>
</dict>
</plist>